@import url('https://fonts.googleapis.com/css?family=Roboto&amp;display=swap');

body {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Roboto';
}

#container {
	position: relative;
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
}

#container:hover {
	cursor: pointer;
}

#container * {
	position: absolute;
	top: 0;
	left: -25px;
}

#text {
	margin-top: 120px;
	font-size: 1rem;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.animate-text {
	-webkit-animation: fade-out 0.5s linear forwards;
	animation: fade-out 0.5s linear forwards;
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#Path-1,
#Path-2,
#Path-3,
#Path-4,
#Path-5 {
	stroke-dasharray: 200;
	stroke-dashoffset: 0;
}

#Oval {
	stroke-dasharray: 176px;
	stroke-dashoffset: 176;
	opacity: 0;
	-webkit-transform: rotate(-178deg);
	transform: rotate(-178deg);
	-webkit-transform-origin: 30px 30px;
	transform-origin: 30px 30px;
}

#check {
	stroke-dasharray: 168;
	stroke-dashoffset: -168;
}

.animate-path {
	-webkit-animation: 1s fingerprint_animation ease-in forwards;
	animation: 1s fingerprint_animation ease-in forwards;
}

.animate-path-delay {
	-webkit-animation: 0.8s fingerprint_animation 0.2s ease-in forwards;
	animation: 0.8s fingerprint_animation 0.2s ease-in forwards;
}

.animate-oval {
	-webkit-animation: 0.2s circle_animation 0.2s ease-in forwards;
	animation: 0.2s circle_animation 0.2s ease-in forwards;
}

.animate-check {
	-webkit-animation: 0.6s check_animation 0.4s linear forwards;
	animation: 0.6s check_animation 0.4s linear forwards;
}

.animate-path-reverse {
	-webkit-animation: 1s fingerprint_animation ease-in reverse;
	animation: 1s fingerprint_animation ease-in reverse;
}

.animate-path-delay-reverse {
	-webkit-animation: 0.8s fingerprint_animation 0.2s ease-in reverse;
	animation: 0.8s fingerprint_animation 0.2s ease-in reverse;
}

.animate-oval-reverse {
	-webkit-animation: 0.2s circle_animation 0.2s ease-in reverse;
	animation: 0.2s circle_animation 0.2s ease-in reverse;
}

.animate-check-reverse {
	-webkit-animation: 0.6s check_animation 0.4s linear reverse;
	animation: 0.6s check_animation 0.4s linear reverse;
}

@-webkit-keyframes fingerprint_animation {
	100% {
		stroke-dashoffset: -200;
		stroke-opacity: 0;
	}
}

@keyframes fingerprint_animation {
	100% {
		stroke-dashoffset: -200;
		stroke-opacity: 0;
	}
}

@-webkit-keyframes circle_animation {
	60% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		stroke-dasharray: 252px;
	}
}

@keyframes circle_animation {
	60% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		stroke-dasharray: 252px;
	}
}

@-webkit-keyframes check_animation {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes check_animation {
	100% {
		stroke-dashoffset: 0;
	}
}
